<!Doctype html>
<html lang="en">
    
    <title>budget</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <head>
        <style>
         .v-offect{
        margin-bottom:6em;

        margin-top:6em;
        }
        
        </style>
    </head>

    <body>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
        <div class="row">
          <div class="col-sm-1"></div>
          
          <div class="row align-items-center align-self-center">
            <div class="col-sm-2">
          <figure class="text-center ">
            <blockquote class="blockquote  p-1 text-dark">
              <p>懶人植物照顧系統</p>
            </blockquote>
            <figcaption class="blockquote-footer">
              made by <cite title="Source Title">陳冠樺 彭駿浩</cite>
            </figcaption>
          </figure>
        </div>
      <div class="col-sm-10">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="set">Setting</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/qset">Quick Setting</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/resetDB">Reset DB</a>
          </li>
        </ul>
      </div>
      </div>
      <div class="row">
        <nav class="col-sm-2">
           
             
          <form action="" method="post">
          <ul class="nav flex-column nav-pills nav-fill ">
            <li class="nav-item">
              <div class="text-center   form-floating form-control-dark">
                <input type="Date" name="startdate"class="form-control search" placeholder="日期" aria-label="日期" id="floatingInput">
                <label class="label" for="floatingInput">欲查詢的起始日期</label>
              </div>
              <div class=" form-floating">
                <input type="time" name="starttime"class="form-control search" placeholder="時間" aria-label="時間"id="floatingTime">
                <label class="label" for="floatingTime">欲查詢的起始時間</label>
              </div>
              <br>
              <div class="text-center   form-floating form-control-dark">
                <input type="Date" name="enddate"class="form-control search" placeholder="日期" aria-label="日期" id="floatingInput">
                <label class="label" for="floatingInput">欲查詢的結束日期</label>
              </div>
              <div class=" form-floating">
                <input type="time" name="endtime"class="form-control search" placeholder="時間" aria-label="時間"id="floatingTime">
                <label class="label" for="floatingTime">欲查詢的結束時間</label>
              </div>
              <div class="d-grid gap-2">
                <button class="btn btn-primary"formaction="/home" type="submit">Search</button>
              </div>
            </li>

           
          </ul>
        </form>
        </nav>
        <div class="col-sm-10" >
          <div class="row">
            <div class="col-sm-3">
              <div class="card" style="width: 18rem;">
                
                <div class="card-body">
                  <h5 class="card-title">新增植物</h5>
                  <form action="/" method="POST">
                  <ul class="list-group list-group-flush">
                    <div class="input-group input-group-sm mb-3">
                      <span class="input-group-text" id="inputGroup-sizing-sm">植物名稱</span>
                      <input type="text" name="name" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" required>
                    </div>
                    <div class="input-group input-group-sm mb-3">
                      <span class="input-group-text" id="inputGroup-sizing-sm">目標溫度</span>
                      <input type="number"name="temp" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"required>
                    </div>
                    <div class="input-group input-group-sm mb-3">
                      <span class="input-group-text" id="inputGroup-sizing-sm">目標濕度</span>
                      <input type="number" name="humi"class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"required>
                    </div>
                    <div class="input-group input-group-sm mb-3">
                      <span class="input-group-text" id="inputGroup-sizing-sm">目標光照時間</span>
                      <input type="number" name="light"class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"required>
                    </div>
                    <div class="input-group input-group-sm mb-3">
                      <span class="input-group-text" id="inputGroup-sizing-sm">目標土壤濕度</span>
                      <input type="number"name="soil" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"required>
                      <button class="btn btn-outline-secondary"formaction="/qset" type="submit" id="inputGroupFileAddon04">新增</button>
                    </div>
                  </form>
                  </ul>
                    
                     
                  
                    </div>
                 
                  
                </div>
              
 
            </div>
          {% for i in rv %}
          <div class="col-sm-3">
          <div class="card" style="width: 18rem;">
            
            <div class="card-body">
              <h5 class="card-title">{{i[1]}}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{i[2]}}</li>
              <li class="list-group-item">{{i[3]}}</li>
              <li class="list-group-item">{{i[4]}}</li>
              <li class="list-group-item">{{i[5]}}</li>
            </ul>
            <div class="card-body">
              <a href="/set/{{i[1]}}" class="card-link">Set</a>
              <a href="#" class="card-link">Eddit</a>
            </div>
          </div>
        </div>
      
          {%endfor%}
        </div>
        </div>